<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<head></head>

<body>
    <div>
    <h1>About</h1>
    <p> This project is about generating passwords. 
        <br>
        <br>
        <strong> Created By </strong> 
        <br>
        Ragib Sahariar Ayon
        <br>
        07th March 2021
        <br>
        <a href={% url 'home' %} class="btn btn-warning"> Home</a>
     </p>
    </div>
</body>
